# Core numerical and data libraries
numpy
polars
scipy
pymc
arviz
optuna
netCDF4

# Modeling and evaluation
scikit-learn
xgboost

# Visualization
matplotlib
seaborn
PyQt6

# Notebook support
ipykernel
ipywidgets

# Print
colorama